<div class="main">
  <div class="find-sequence">
    <label for="sequence">Enter your peptide sequence</label>
    <input class="sequence" type="text" name="peptide_sequence" placeholder="VT(3T)WEXYDZLIA(1X)..."/>
  </div>
  <div>
  </div>
  <div class="wildcards">
    <div class="mass-select">
      <label for="mass">Mass:</label>
      <select name="select">
        <option value="monoisotopic" selected>Monoisotopic Mass</option>
        <option value="average">Average</option>
      </select>
    </div>
    <div class="tolerance-select">
      <label for="tolerance">Tolerance <strong>(Da)</strong>:</label>
      <input class="range-input js-range-input" type="range" min="1" max="20" value="5" step="1" />
      <span>Value: <strong class="js-range-value">5</strong></span>
    </div>
    <label for="(1X)">Wildcard <strong>(1X)</strong>:</label>
    <input class="sequence" type="text" name="(1X)" placeholder="76.9"/><br />
    <label for="(2X)">Wildcard <strong>(2X)</strong>:</label>
    <input class="sequence" type="text" name="(2X)" placeholder="63.5"/><br />
    <label for="(3X)">Wildcard <strong>(3X)</strong>:</label>
    <input class="sequence" type="text" name="(3X)" placeholder="82.1"/><br />
  </div>
  <div class="find-weight">
    <label for="weight">Enter the weight you found</label>
    <input class="weight" type="text" name="weight" placeholder="123.5"/>
  </div>
  <button type="button" class="search">Find fragment matches</button>
  <button type="button" class="clear-results">Clear results</button>
</div>

<div class="peptide-weight"></div>

<div class="result">
  <table>
    <tr>
      <th class="sequence-result">Sequence</th>
      <th class="weight-result">Weight</th>
    </tr>
  </table>
</div>
