<div class="main">
  <div class="find-sequence">
    <label for="sequence">Enter your peptide sequence</label>
    <input class="sequence" type="text" name="peptide_sequence" placeholder="RMZQ(3I)EXK(3L)E.."/>
  </div>
  <div class="find-weight">
    <label for="weight">Enter the weight you found</label>
    <input class="weight" type="text" name="weight" placeholder="123.5"/>
  </div>
  <button type="button">I'm feeling lucky</button>
</div>



<div class="peptide-weight"></div>

<div class="result">
  <table>
    <tr>
      <th class="sequence-result">Sequence</th>
      <th class="weight-result">Weight</th>
    </tr>
  </table>
</div>
