<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Badger Amino Acid Finder</title>
    <link href="/normalize.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="/script.js"></script>
  </head>
  <body>
    <header>
      <div class="logo"></div>
    </header>

    <div class="wrapper">
      <div class="headline">
        <h1>Badger Amino Acid Finder</h1>
        <p>The Badger Amino Acid Finder is a tool to help with the identification of proteolysis products of peptides and alpha/beta-peptides from mass spectrometry data.</p>
        <h2>Instructions</h2>
        <ol class="instructions">
          <li>Enter the sequence of your peptide using standard one letter codes without spaces.
            <ul class="nested-list disc">
              <li>C = reduced Cys, C* = Cys in disulfide</li>
              <li>Peptides are assumed to be N-terminal amines and C-terminal acids</li>
              <li>If the peptide is acetylated, use Ac- as the first residue</li>
              <li>If the peptide is a C-terminal amide, use -NH2 as the last residue</li>
            </ul>
          </li>
          <li>For non-natural residues, (3_) = beta-3 residue [e.g., (3F) ], X = ACPC, Z = APC, U = Aib</li>

          <li>Hit "Find fragment matches" to find expected [M+H]<span class="superscript">+</span></li>

          <li>When analyzing a proteolysis reaction mixture, entering an observed mass in the bottom box searches for fragments within the sequence that are near that mass.</li>

          <li>Up to three additional amino acid residues (wildcards) can be entered in the fields <b>(1X)</b>, <b>(2X)</b>, and <b>(3X)</b> below.  When declaring wildcards, use the residue molecular weight, HN-CHR-CO.</li>

          <li>The tolerance that qualifies as a "match" is configured by the range slider below. The default is 5 Da.</li>
        </ol>
      </div>
      <%= yield %>
    </div>
    <div class="wrapper">
      <footer><small>&copy; 2013-2017 Developed by James W. Checco and Stuart T. Nelson (<a href="https://github.com/stuartnelson3/molecule-weight" _target="blank">source</a>)</small></footer>
    </div>
  </body>
</html>
