<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Badger Amino Acid Finder</title>
    <link href="/normalize.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="/script.js"></script>
  </head>
  <body>
    <header>
      <div class="logo"></div>
    </header>

    <div class="wrapper">
      <div class="headline">
        <h1>Badger Amino Acid Finder</h1>
        <h2>Instructions</h2>
        <ol class="instructions">
          <li>Enter the sequence of your peptide using standard one letter codes without spaces. Peptides are assumed to be N-terminal amines and C-terminal amides. If the peptide is acetylated, use Ac- as the first residue.</li>

          <li>For non-natural residues, (3_) = beta-3 residue [e.g., (3F) ], X = ACPC, Z = APC, U = Aib</li>

          <li>Hit "I'm feeling Lucky" to find expected [M+H]<span class="superscript">+</span></li>

          <li>When analyzing a proteolysis reaction mixture, entering an observed mass in the bottom box searches for fragments within the sequence that are near that mass.</li>

          <li>Up to three additional amino acid residues (wildcards) can be entered in the fields <b>(1X)</b>, <b>(2X)</b>, and <b>(3X)</b> below.  When declaring wildcards, use the residue molecular weight, HN-CHR-CO.</li>
        </ol>
      </div>
      <%= yield %>
    </div>
    <footer></footer>
  </body>
</html>
